body {
	background: black;
}

p {
	color: blue;
}

.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: smaller;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
	margin-top: 15px;
}

.postcard-header h1 {
	width: 280px;
	color: steelblue;
	padding: 10px;
	margin-left: 10px;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0;
}

.body-left {
	flex: 1;
	padding: 10px;
	text-align: justify;
	margin-left: 10px;
}

.body-right {
	flex: 1;
	padding: 10px;
	text-decoration: underline;
	color: gray;
	margin-left: 10px;
}

input {
	border: none;
	border-bottom: 1px gray;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: lightsteelblue;
	border-radius: 10px;
}

button:hover {
	background-color: cornflowerblue;
	color: white;
}
